* {
        margin: 0;
    }

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h2 {
  font-size: 52px;
  text-align: center;
  padding:40px;
}

h3 {
  font-size: 20px;
  text-align: center;
  bottom:100%;
  user-select:none;
}

.inGeneratedContent {
  padding: 5px;
  margin: 10px;
  background-color: rgb(200,200,200);
  border-style: solid;
  border-color: black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: rgb(255, 255, 255);
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0rem;
  padding: 0 px;
  background-image: url("/TableRoller/TableRoller/images/background.jpg");
  background-size: 100%;
  background-repeat: repeat;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: rgb(0, 0, 0);
}

button {
	user-select:none;
}

.minimized{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.inGeneratedContent{
	display:flex;
}

.image{
	
}

#pinwall{
	padding-top: 15px;
   padding-left: 100px;
   padding-right: 100px;
	position: relative;
	}
#wrapper {
	clear:both;
}

#generated_content{
   padding-top: 15px;
   padding-left: 100px;
   padding-right: 100px;
	position: relative;
	min-height: 30vh;
}

#button-track {
	 display : flex;
    width: 1000vw;
    grid-gap: 15px;
    position: relative;
    transform: translate(30vw);
    user-select: none;
}

.container {
	display: flex;
	width: 15vw;
	height: 40vh;
	cursor: pointer;
	overflow: hidden;
	object-position: 50% center;
	position: relative;
	background: rgb(0,0,0);
	flex-shrink:0;
}

.container > .image {
	width: 100%;
	height: 100%;  
	draggable: false;
	object-fit: cover;
}

.Overlay{
  font-size: 60px;
  font-family: "Lobster Two", serif;
  text-shadow:
  -2px -2px 0 #ffffff,
  -2px  2px 0 #ffffff,
  2px  2px 0 #ffffff,
  2px -2px 0 #ffffff;
  position:absolute;
  top: 75%;
  width: 100%;
  text-align: center;
  z-index: 1000;
  user-select: none;
}

@keyframes lamezoomin{
  0% {
   transform: scale(1);
  }
  50% {
  	transform: scale(1.2);
  }
  100%{
   transform: scale(1);
  }
}

@keyframes zoomin{
  0% {
   	transform: scale(1);
   }
   100%{
  		transform: scale(1.3);
  	}
}

.container:hover > .image {
   animation: zoomin 400ms ease-in-out;
   transform: scale(1.3);
}
